<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This is the portfolio of the Brisbane-based web developer Quentin Haly-Summerfield" />
    <meta name="robots" content="all" />
    <link rel="stylesheet" href="../styles/style.css" />

    <title>Quentin's Portfolio</title>
  </head>
  <body>
    <header class="hero-banner" id="blog-banner">
      <div class="container">
        <nav class="hero-banner__nav">
          <div class="hero-banner__logo">Logo</div>
          <ul class="hero-banner__navbar">
            <li class="hero-banner__navbar__link"><a href="index.html">Home</a></li>
            <li class="hero-banner__navbar__link"><a href="career.html">Career</a></li>
            <li class="hero-banner__navbar__link"><a href="blog.html">Blog</a></li>
            <li class="hero-banner__navbar__link"><a href="contact.html">Contact</a></li>
          </ul>
          <div class="burger">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
          </div>
        </nav>
        <section class="hero-banner__content">
          <h1>My Blog</h1>
          <h2>Check out my musings on all</h2>
          <h2>things tech related</h2>
          <a href="#blog"><button class="btn">Take Me There</button></a>
        </section>
        <section class="hero-banner__icons">
          <i class="fab fa-linkedin"></i>
          <i class="fab fa-instagram-square"></i>
          <i class="fab fa-twitter-square"></i>
          <i class="fab fa-github-square"></i>
        </section>
      </div>
    </header>
    <main>
        
      <article class="blog" id="blog">
  
        <div class="flex-container">
          <div class="blog__img">
            <img src="../assets/images/blog-bjj.jpg.jpg" alt="brazilian jiu jitsu" />
          </div>
          <div class="blog__text">
                  <div class="blog__info">
          <h2>Brazilian Jiu Jitsu</h2>
          <p><i class="fas fa-user"></i> Posted by <strong>Quentin Haly-Summerfield</strong> | August 19 2021</p>
        </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias illum, animi earum ea amet sequi reiciendis sit corporis sunt iusto cupiditate odio maxime adipisci cumque eligendi nemo dolore id itaque?</p>
          </div>
        </div>
      </article>

      <article class="blog">
     
        <div class="flex-container">
          <div class="blog__img alternate">
            <img src="../assets/images/blog-bjj.jpg.jpg" alt="brazilian jiu jitsu" />
          </div>
          <div class="blog__text">
               <div class="blog__info">
          <h2 class="alternate-text">Brazilian Jiu Jitsu</h2>
          <p>
            <i class="fas fa-user"></i> Posted by
            <strong>Quentin
              Haly-Summerfield</strong>
            | August 19 2021
          </p>
        </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias illum, animi earum ea amet sequi reiciendis sit corporis sunt iusto cupiditate odio maxime adipisci cumque eligendi nemo dolore id itaque?</p>
          </div>
        </div>
      </article>

      <article class="blog">
  
        <div class="flex-container">
          <div class="blog__img">
            <img src="../assets/images/blog-bjj.jpg.jpg" alt="brazilian jiu jitsu" />
          </div>
          <div class="blog__text">
                  <div class="blog__info">
          <h2>Brazilian Jiu Jitsu</h2>
          <p><i class="fas fa-user"></i> Posted by <strong>Quentin Haly-Summerfield</strong> | August 19 2021</p>
        </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias illum, animi earum ea amet sequi reiciendis sit corporis sunt iusto cupiditate odio maxime adipisci cumque eligendi nemo dolore id itaque?</p>
          </div>
        </div>
      </article>
      <article class="blog">
   
        <div class="flex-container">
          <div class="blog__img  alternate">
            <img src="../assets/images/blog-bjj.jpg.jpg" alt="brazilian jiu jitsu" />
          </div>
          <div class="blog__text">
                 <div class="blog__info">
          <h2>Brazilian Jiu Jitsu</h2>
          <p><i class="fas fa-user"></i> Posted by <strong>Quentin Haly-Summerfield</strong> | August 19 2021</p>
        </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias illum, animi earum ea amet sequi reiciendis sit corporis sunt iusto cupiditate odio maxime adipisci cumque eligendi nemo dolore id itaque?</p>
          </div>
        </div>
      </article>
      <article class="blog">
  
        <div class="flex-container">
          <div class="blog__img">
            <img src="../assets/images/blog-bjj.jpg.jpg" alt="brazilian jiu jitsu" />
          </div>
          <div class="blog__text">
                  <div class="blog__info">
          <h2>Brazilian Jiu Jitsu</h2>
          <p><i class="fas fa-user"></i> Posted by <strong>Quentin Haly-Summerfield</strong> | August 19 2021</p>
        </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias illum, animi earum ea amet sequi reiciendis sit corporis sunt iusto cupiditate odio maxime adipisci cumque eligendi nemo dolore id itaque?</p>
          </div>
        </div>
      </article>
    </main>
    <footer class="footer">
      <div class="footer-wrapper">
        <h5 class="footer__header">Quentin Haly-Summerfield &copy; 2021</h5>
        <ul class="footer__nav">
          <li>
            <a href="#" title="linkedin-social-media"> <i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a href="#" title="instagram-social-media"> <i class="fab fa-instagram-square"></i></a>
          </li>
          <li>
            <a href="#" title="twitter-social-media"><i class="fab fa-twitter-square"></i></a>
          </li>
          <li>
            <a href="#" title="github-social-media"><i class="fab fa-github-square"></i></a>
          </li>
        </ul>
      </div>
    </footer>

    <script src="../assets/scripts/app.js"></script>
    <script src="https://kit.fontawesome.com/2351e1defe.js" crossorigin="anonymous"></script>
  </body>
</html>
