<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This is the portfolio of the Brisbane-based web developer Quentin Haly-Summerfield" />
    <meta name="robots" content="all" />
     <link rel="stylesheet" href="../styles/style.css" integrity="sha384-PNuLcmwumnFiz33Onxgd65CWsevN/sOLl0BcSy0sU5x4gqXOpgZGksA287isws5U" />
     <link rel="stylesheet" href="../styles/style.css" integrity="sha512-X0JDgLjnxuQLrJatMtDs7SNQZQhWGDcdbSdkM+1eAFfRq+oLV1C+2T27ulM5vuo7jAEwRXhwdsyn
5CqnHQ54rA==" />

    <title>Quentin's Portfolio</title>
  </head>
  <body>
    <header class="hero-banner" id="career-banner">
      <div class="container">
        <nav class="hero-banner__nav">
              <div class="hero-banner__logo"><a href="index.html"><img src="../assets/images/logo-white.png" alt="Quentin's logo"></a></div>
          <ul class="hero-banner__navbar">
            <li class="hero-banner__navbar__link"><a href="index.html">Home</a></li>
            <li class="hero-banner__navbar__link"><a href="career.html">Career</a></li>
            <li class="hero-banner__navbar__link"><a href="blog.html">Blog</a></li>
            <li class="hero-banner__navbar__link"><a href="contact.html">Contact</a></li>
          </ul>
          <div class="burger">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
          </div>
        </nav>
        <section class="hero-banner__content">
          <h1>My Career</h1>
          <h2>Click below for my full work</h2>
          <h2>and educational history</h2>
          <form method="get" action="/src/assets/documents/resume.pdf">
            <button class="btn">Download Resume</button>
          </form>
        </section>
        <section class="hero-banner__icons">
          <a href="https://www.linkedin.com/in/quentin-haly-summerfield-62bb5b219/?originalSubdomain=au" title="linkedin-social-media"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/QuentinHS" title="github-social-media"><i class="fab fa-github-square"></i></a>
          <a href="https://twitter.com/HalyQuentin/" title="twitter-social-media"><i class="fab fa-twitter-square"></i></a>
          <a href="https://www.instagram.com/quentinsummerfield/" title="instagram-social-media"><i class="fab fa-instagram-square"></i></a>
        </section>
      </div>
    </header>
    <main class="career-main-content">
      <h2 class="career-main-title">Career Snapshot</h2>
      
        <h3 class="career-subheading edu-heading">Education</h3>
        <h3 class="career-subheading car-heading">Work Experience</h3>
   
        <section class="career-content__education">
          <div class="career-content__partial__body">
            <div class="career-details">
              <p class="career-date">2020-2021</p>
              <h3 class="career-title">Diploma of IT</h3>
              <p class="career-subtitle">Coder Academy</p>
            </div>
            <div class="career-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis commodi eum quia assumenda at deleniti eveniet quo velit nihil accusamus, asperiores iure. Maxime minus sapiente modi mollitia aspernatur, deserunt atque.</div>
          </div>
          <div class="career-content__partial__body">
            <div class="career-details">
              <p class="career-date">2007-2010</p>
              <h3 class="career-title">Bachelor of Business</h3>
              <p class="career-subtitle">QUT</p>
            </div>
            <div class="career-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis commodi eum quia assumenda at deleniti eveniet quo velit nihil accusamus, asperiores iure. Maxime minus sapiente modi mollitia aspernatur, deserunt atque.</div>
          </div>
        </section>
        
        
      <section class="career-content__career">
          <div class="career-content__partial__body">
            <div class="career-details">
              <p class="career-date">2019-2021</p>
              <h3 class="career-title">English Instructor</h3>
              <p class="career-subtitle">DADA</p>
            </div>
            <div class="career-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis commodi eum quia assumenda at deleniti eveniet quo velit nihil accusamus, asperiores iure. Maxime minus sapiente modi mollitia aspernatur, deserunt atque.</div>
          </div>
          <div class="career-content__partial__body">
            <div class="career-details">
              <p class="career-date">2017-2019</p>
              <h3 class="career-title">Staff Member</h3>
              <p class="career-subtitle">Casa d'Alagoa</p>
            </div>
            <div class="career-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis commodi eum quia assumenda at deleniti eveniet quo velit nihil accusamus, asperiores iure. Maxime minus sapiente modi mollitia aspernatur, deserunt atque.</div>
          </div>
        </section>
     
    </main>
    <footer class="footer">
      <div class="footer-wrapper">
        <h5 class="footer__header">Quentin Haly-Summerfield &copy; 2021</h5>
        <ul class="footer__nav">
          <li>
            <a href="https://www.linkedin.com/in/quentin-haly-summerfield-62bb5b219/?originalSubdomain=au" title="linkedin-social-media"> <i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a href="https://github.com/QuentinHS" title="github-social-media"><i class="fab fa-github-square"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/HalyQuentin/" title="twitter-social-media"><i class="fab fa-twitter-square"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/quentinsummerfield/" title="instagram-social-media"> <i class="fab fa-instagram-square"></i></a>
          </li>
        </ul>
      </div>
    </footer>

    <script src="../assets/scripts/app.js" integrity="sha384-ZsWG/Bw1itkRANYsQe+87pkovUIedpCLI2IZhN1ohvId80stl1BStYP2ILNwfikN"></script>
    <script
      src="../assets/scripts/app.js"
      integrity="sha512-QAhWmlyOdgWcz6vwVW715kUVl71rPX+jMtp8i81d4TGkULCvPrHLIPAZU9RUDmZIj2sQiYcYI0Op
ousJGvyHTw=="
    ></script>
    <script src="https://kit.fontawesome.com/2351e1defe.js" integrity="sha384-oV1YhB3inn8c51yUn1xwvZNYO1EhkPtcNsMdzE5PhqggWtdvcuJvpp4aCkr5JO51" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2351e1defe.js" integrity="sha512-ZayGzeHXTwWKBdD0Q99z+jFdg+iZdgyqi+8AHeJ70jLKXKn46mjJFOg1RX/UEQYjP09YJywPXNS/CsVJn2ZB2Q==" crossorigin="anonymous"></script>
  </body>
</html>
