<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This is the portfolio of the Brisbane-based web developer Quentin Haly-Summerfield" />
    <meta name="robots" content="all" />
    <link rel="stylesheet" href="../styles/style.css" />

    <title>Quentin's Portfolio</title>
  </head>
  <body>
    <header class="hero-banner" id="contact-banner">
      <div class="container">
        <nav class="hero-banner__nav">
          <div class="hero-banner__logo">
            <a href="index.html"><img src="../assets/images/logo-white.png" alt="Quentin's logo" /></a>
          </div>
          <ul class="hero-banner__navbar">
            <li class="hero-banner__navbar__link"><a href="index.html">Home</a></li>
            <li class="hero-banner__navbar__link"><a href="career.html">Career</a></li>
            <li class="hero-banner__navbar__link"><a href="blog.html">Blog</a></li>
            <li class="hero-banner__navbar__link"><a href="contact.html">Contact</a></li>
          </ul>
          <div class="burger">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
          </div>
        </nav>
        <section class="hero-banner__content">
          <h1>Contact</h1>
          <h2>For any enquiries or just to</h2>
          <h2>chat click the button below</h2>
          <a href="#contact-form" class="btn">Get in Touch</a>
        </section>
        <section class="hero-banner__icons">
          <a href="https://www.linkedin.com/in/quentin-haly-summerfield-62bb5b219/?originalSubdomain=au" title="linkedin-social-media"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/QuentinHS" title="github-social-media"><i class="fab fa-github-square"></i></a>
          <a href="https://twitter.com/HalyQuentin/" title="twitter-social-media"><i class="fab fa-twitter-square"></i></a>
          <a href="https://www.instagram.com/quentinsummerfield/" title="instagram-social-media"><i class="fab fa-instagram-square"></i></a>
        </section>
      </div>
    </header>
    <main>
      <!-- Contact Form - Textual Component 3 -->
      <section class="form-container" id="contact-form">
        <h2>Get in touch now</h2>
        <p>Drop me a line today</p>
        <form class="contact-form">
          <input type="text" placeholder="First Name" id="firstName" name="firstName" required />
          <input type="text" placeholder="Last Name" id="lastName" name="lastName" required />
          <textarea name="message" id="message" placeholder="Enter your message"></textarea>
          <button type="submit">Send</button>
        </form>
      </section>
      <!-- Address Card - Textual Component 4 -->
      <section class="address-card">
        <h2>Contact</h2>
        <h3>Quentin Haly-Summerfield</h3>
        <div class="contact-bar">
          <div class="icon-container"><i class="fas fa-phone-alt"></i></div>
          <div>
            <p class="contact-title">Mobile</p>
            <p class="contact-data">0435567738</p>
          </div>
        </div>
        <div class="contact-bar">
          <div class="icon-container"><i class="fas fa-home"></i></div>
          <div>
            <p class="contact-title">Address</p>
            <p class="contact-data">Springfield Lakes, Queensland</p>
          </div>
        </div>
        <div class="contact-bar">
          <div class="icon-container"><i class="fas fa-envelope"></i></div>
          <div>
            <p class="contact-title">Email</p>
            <p class="contact-data">quentin.halysummerfield@gmail.com</p>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer-wrapper">
        <h5 class="footer__header">Quentin Haly-Summerfield &copy; 2021</h5>
        <ul class="footer__nav">
          <li>
            <a href="https://www.linkedin.com/in/quentin-haly-summerfield-62bb5b219/?originalSubdomain=au" title="linkedin-social-media"> <i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a href="https://github.com/QuentinHS" title="github-social-media"><i class="fab fa-github-square"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/HalyQuentin/" title="twitter-social-media"><i class="fab fa-twitter-square"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/quentinsummerfield/" title="instagram-social-media"> <i class="fab fa-instagram-square"></i></a>
          </li>
        </ul>
      </div>
    </footer>

    <script src="../assets/scripts/app.js"></script>
    <script src="https://kit.fontawesome.com/2351e1defe.js" crossorigin="anonymous"></script>
  </body>
</html>
