<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This is the portfolio of the Brisbane-based web developer Quentin Haly-Summerfield" />
    <meta name="robots" content="all" />
    <link rel="stylesheet" href="../styles/style.css" />

    <title>Quentin's Portfolio</title>
  </head>
  <body>
    <header class="hero-banner">
      <div class="container">
        <nav class="hero-banner__nav">
          <div class="hero-banner__logo">
            <a href="index.html"><img src="../assets/images/logo-white.png" alt="Quentin's logo" /></a>
          </div>
          <ul class="hero-banner__navbar">
            <li class="hero-banner__navbar__link"><a href="index.html">Home</a></li>
            <li class="hero-banner__navbar__link"><a href="career.html">Career</a></li>
            <li class="hero-banner__navbar__link"><a href="blog.html">Blog</a></li>
            <li class="hero-banner__navbar__link"><a href="contact.html">Contact</a></li>
          </ul>
          <div class="burger">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
          </div>
        </nav>
        <section class="hero-banner__content">
          <h1>Hi, I'm Quentin</h1>
          <h2>I'm a freelance web</h2>
          <h2>developer based in Brisbane</h2>
          <a href="contact.html"><button class="btn">Get in Touch</button></a>
        </section>
        <section class="hero-banner__icons">
          <a href="https://www.linkedin.com/in/quentin-haly-summerfield-62bb5b219/?originalSubdomain=au" title="linkedin-social-media"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/QuentinHS" title="github-social-media"><i class="fab fa-github-square"></i></a>
          <a href="https://twitter.com/HalyQuentin/" title="twitter-social-media"><i class="fab fa-twitter-square"></i></a>
          <a href="https://www.instagram.com/quentinsummerfield/" title="instagram-social-media"><i class="fab fa-instagram-square"></i></a>
        </section>
      </div>
    </header>
    <main class="homepage-main-content">
      <section class="homepage-main-content__about">
        <article>Hi! I'm Quentin, a full-stack developer living in sunny Brisbane, Australia. I work primarily with JavaScript, TypeScript, React and Node, but I've used plenty of other languages and frameworks in all sorts of projects (check out my career page for more details!). In my spare time I like to train Brazilian Jiu Jitsu and take my motorbike around the country with my partner.</article>
        <div class="img-container"><img src="../assets/images/quentin-v2.jpg" alt="Quentin Haly-Summerfield | Web Developer" /></div>
      </section>
      <section class="homepage-main-content__skills">
        <h3>Skills</h3>
        <div class="card">
          <div class="card-icon">
            <i class="fas fa-pen"></i>
          </div>
          <h4>Web Design</h4>
          <p>I've built sitemaps, user flows and wireframes using Figma and other programs.</p>
        </div>
        <div class="card">
          <div class="card-icon">
            <i class="fas fa-laptop"></i>
          </div>
          <h4>Front End Development</h4>
          <p>I've built projects using Flexbox, Grid, SASS and CSS frameworks including Bootstrap and Tailwind.</p>
        </div>
        <div class="card">
          <div class="card-icon">
            <i class="fas fa-desktop"></i>
          </div>
          <h4>Back End Development</h4>
          <p>I have extensive project experience with Ruby on Rails and Node/Express building fully-featured back-ends for production websites.</p>
        </div>
        <div class="card">
          <div class="card-icon">
            <i class="fas fa-server"></i>
          </div>
          <h4>Database Engineering</h4>
          <p>If you need someone skilled with both SQL and NoSQL databases, you've come to the right place.</p>
        </div>
        <div class="card">
          <div class="card-icon">
            <i class="fas fa-users"></i>
          </div>
          <h4>User Experience Design</h4>
          <p>Personas, market research, testing - I've done it all.</p>
        </div>
        <div class="card">
          <div class="card-icon">
            <i class="fas fa-camera"></i>
          </div>
          <h4>Photo Editing</h4>
          <p>Why hire a graphic designer when your web developer can do your photo editing too?</p>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer-wrapper">
        <h5 class="footer__header">Quentin Haly-Summerfield &copy; 2021</h5>
        <ul class="footer__nav">
          <li>
            <a href="https://www.linkedin.com/in/quentin-haly-summerfield-62bb5b219/?originalSubdomain=au" title="linkedin-social-media"> <i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a href="https://github.com/QuentinHS" title="github-social-media"><i class="fab fa-github-square"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/HalyQuentin/" title="twitter-social-media"><i class="fab fa-twitter-square"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/quentinsummerfield/" title="instagram-social-media"> <i class="fab fa-instagram-square"></i></a>
          </li>
        </ul>
      </div>
    </footer>

    <script src="../assets/scripts/app.js"></script>
    <script src="https://kit.fontawesome.com/2351e1defe.js" crossorigin="anonymous"></script>
  </body>
</html>
