<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This is the portfolio of the Brisbane-based web developer Quentin Haly-Summerfield" />
    <meta name="robots" content="all" />
    <link rel="stylesheet" href="../styles/style.css" />
  
    <title>Quentin's Portfolio</title>
  </head>
  <body>
    <header class="hero-banner">
      <div class="container">
        <nav class="hero-banner__nav">
          <div class="hero-banner__logo">Logo</div>
          <ul class="hero-banner__navbar">
            <li class="hero-banner__navbar__link"><a href="#">Home</a></li>
            <li class="hero-banner__navbar__link"><a href="#">Resume</a></li>
            <li class="hero-banner__navbar__link"><a href="#">Blog</a></li>
            <li class="hero-banner__navbar__link"><a href="#">Contact</a></li>
          </ul>
          <div class="burger">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
          </div>
        </nav>
        <section class="hero-banner__content">
          <h1>Hi, I'm Quentin</h1>
          <h2>I'm a freelance web</h2>
          <h2>developer based in Brisbane</h2>
          <button class="btn">Get in Touch</button>
        </section>
        <section class="hero-banner__icons">
          <i class="fab fa-linkedin"></i>
          <i class="fab fa-instagram-square"></i>
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-github-square"></i>
        </section>
      </div>
    </header>
    <main class="homepage-main-content">
      <section class="homepage-main-content__about">
        
        <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti eveniet hic illo consequatur vero modi corporis facere maiores aspernatur laboriosam soluta aliquam labore fuga, esse assumenda dicta iste officia repudiandae quibusdam expedita repellat exercitationem praesentium quos. Ipsum architecto quam fugiat amet aspernatur, perspiciatis in aperiam voluptas laboriosam, suscipit pariatur dignissimos.</article>
        <div class="img-container"><img src="../assets/images/Quentin.jpg" alt="Quentin Haly-Summerfield | Web Developer" /></div>
      </section>
      <section class="homepage-main-content__skills">
        <div class="skill-card">
          <h3>Web Development</h3>
          <p>I do all sorts of web development</p>
        </div>
      </section>
    </main>
    <footer class="homepage-footer"> <p>&c; Quentin Haly-Summerfield 2021</p><p>Icon Icon Icon</p></footer>
    <script src="../assets/scripts/app.js"></script>
    <script src="https://kit.fontawesome.com/2351e1defe.js" crossorigin="anonymous"></script>
  </body>
</html>
