// Color Variables
$dark-grey: #212529;
$mid-grey: #868e96;
$lighter-grey: #ced4da;
$light_grey: #e9ecef;
$main-color: #fd7e14;
$main-color--light:#ffa94d;
$main-color--dark: #e8590c;
// Typography Variables
$main-header: 3rem;
$sub-header: 2rem;
$body-text: 1.6rem;
$secondary-text: 1.5rem;
$tertiary-text: 1.3rem;
$mobile-text: 1.7rem;