@use "../abstracts/mixins";
@use "../abstracts/variables";

.btn {
  background-color: hsl(210, 11%, 22%);
  color: #FFF;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-size: variables.$tertiary-text;
  box-shadow: 0 5px 7px rgba(0, 0, 0, .3);
  transition: 0.1s ease;
  margin-top: 1em;

  &--orange {
    background-color: variables.$main-color;
  }

  &--large {
    padding: 1.1rem 1.9rem;

    @include mixins.respond(tablet) {
       font-size: variables.$secondary-text;
    }
  }

  &--light {
    background-color: variables.$light-grey;
    color: variables.$dark-grey;
  }

 &:hover {
   background-color: hsl(210, 11%, 26%);
 }
  &:active {
    transform: translateY(2px);
  
  }

}