@use "../abstracts/variables";
@use "../abstracts/mixins";

.homepage-main-content__skills {
  width: 100%;
  background: variables.$mid-grey;
  padding: 2em;
  display: flex;

  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  h3 {
    font-size: variables.$main-header;
    color: variables.$dark-grey;
    min-width: 100%;
    
  }

    

  

   
  .card {
    text-align: center;
    flex: 1 0 20rem;
    min-height: 20vh;
    padding: 2em;
    margin: 1em;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 20px rgba(0, 0, 0, 0.2);
    background: variables.$darker-grey;
    color: variables.$light-grey;
    border-radius: 5px;

    h4 {
     font-size: variables.$body-text;
    }

    p {
      font-size: variables.$tertiary-text;
      font-weight: 300;
    }

    @include mixins.respond(tablet) {
      margin: 2rem 2rem;
    }

    @include mixins.respond(desktop) {
      margin: 1em 3eem;
   
    }

  }

   @media only screen and (min-width: 1270px) {
         .card {
           flex: 1 0 500px;
         }
    }

     @media only screen and (min-width: 1800px) {
         .card {
           flex: 1 0 600px;
         }
    }

}
