@use "../abstracts/variables";
@use "../abstracts/mixins";

.hero-banner__navbar {
  display: flex;
 
  gap: 0 2em;
  &__link {
    list-style: none;
    a {
      text-decoration: none;
      font-size: variables.$body-text;
      color: variables.$lightest-grey;
    }

    a:hover {
      text-decoration: underline;
      color: hsl(210, 17%, 86%);
    }


  }

   @include mixins.respond(desktop) {
    
   }

}

