@use "../abstracts/mixins";
@use "../abstracts/variables";

.career-main-content {
 display: grid;
 grid-template-rows: 5em auto auto 5em;
 grid-template-areas: 
 ". title . ."
 ". education-header . ."
 ". education education ."
 ". work-header . ."
 ". career career .";
 
.career-subheading {
  background-color: hsl(210, 11%, 22%);
  color: variables.$lightest-grey;
  font-size: variables.$sub-header;
  padding: .75rem 1.2rem;
  margin-left: 20px;
  margin-right: auto;
  border-radius: 5px;
 width: 90vw;
 text-align: center;
 @include mixins.respond(tablet) {
     width: 80vw;
     margin: 0 auto;
 }

  @include mixins.respond(desktop) {
     width: 800px;
     margin: 0 auto;
 }
} 

.edu-heading {
 grid-area: education-header;
margin-top: 1em;
}

 .car-heading {
   grid-area: work-header;
   padding-bottom: 2em;
 
 }

  .career-main-title {
    grid-area: title;
    font-size: variables.$sub-header;
    text-align: center;
    margin-top: .5em;
    padding-bottom: 1.5em;
    width: 100vw;
  
  }

 
  .career-content__partial__body {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding-bottom: 1em;
    padding-right: 1em;
    margin-bottom: 2em;
  }

  .career-content__partial__body:nth-child(2) {
    margin-bottom: 1em;
  }
 
  .career-content__education {
    grid-area: education;
    padding: 2em;
    text-align: right;
    font-size: variables.$tertiary-text;
    @include mixins.respond(tablet) {
      display: flex;
       min-height: 40vh;
      .career-content__partial__body {
        margin-bottom: 0;

        .career-text {
          padding-left: .5em;
           padding-right: .5em;
        }

      }

  }

   
  }

    .career-date {
      padding-bottom: .6em;
    
    }

    

    .career-subtitle {
      padding-bottom: 0.7em;
    }

    
   .btn-car {
    grid-area: career-button;
    width: 88vw;
    padding-bottom: 2em;
   margin-left: 1em;
   margin-right: .2em;
   margin-top: 0;

  }

  
  .career-content__career {
    grid-area: career;
    padding: 2em;
    padding-top: 0;
    margin-top: 3em;
    text-align: right;
    font-size: variables.$tertiary-text;
     @include mixins.respond(tablet) {
      display: flex;
     
      min-height: 40vh;
      .career-content__partial__body {
        margin-bottom: 0;
           .career-text {
          padding-left: .5em;
           padding-right: .5em;
        }
      }
  }
  }



}