@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Nunito", sans-serif;
  font-size: 62.5%;
  color: #212529;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: " header header header" "main main main" "footer footer footer";
  background: #f8f9fa;
}

.hero-banner {
  grid-area: header;
}

.homepage-main-content {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.homepage-main-content__about {
  padding: 5em;
}
.homepage-main-content__about article {
  font-size: 1.6rem;
  margin: 1em 0;
}
@media only screen and (min-width: 1000px) {
  .homepage-main-content__about {
    display: flex;
  }
  .homepage-main-content__about article {
    max-width: 50%;
    margin-right: 1em;
  }
}
.homepage-main-content__about .img-container {
  padding-top: 2em;
}
.homepage-main-content__about .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.career-main-content h2 {
  padding: 2em;
}
.career-main-content .btn-container {
  display: flex;
  width: 96%;
  margin: 0 auto;
  justify-content: space-between;
}

.career-content {
  display: flex;
  margin-top: 2em;
}
.career-content__partial {
  padding: 3em;
}
.career-content__partial__body {
  display: flex;
}
.career-content .career-details p:first-child {
  padding-bottom: 1em;
}
.career-content .career-details h3 {
  padding-bottom: 0.5em;
}
.career-content .career-details p:last-child {
  padding-bottom: 3em;
}
.career-content .career-text {
  padding-left: 10em;
  padding-bottom: 3em;
  max-width: 20em;
}

.hero-banner {
  background: url(../assets/images/hero-background-dark.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}
.hero-banner .container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.hero-banner__logo {
  font-size: 2rem;
  cursor: pointer;
}
.hero-banner__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
@media only screen and (min-width: 600px) {
  .hero-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media only screen and (min-width: 1000px) {
  .hero-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .hero-banner__nav .hero-banner__navbar {
    margin-left: auto;
  }
}
.hero-banner__content {
  text-align: center;
  align-self: center;
  margin: auto 0;
  color: #f8f9fa;
  text-shadow: 3px 5px 40px rgba(0, 0, 0, 0.3);
}
.hero-banner__content h1 {
  font-size: 3rem;
}
.hero-banner__content h2 {
  font-size: 2rem;
}
.hero-banner__content p {
  font-size: 1.6rem;
}
.hero-banner__icons {
  text-align: center;
  margin-bottom: 5em;
}
.hero-banner__icons i {
  font-size: 3rem;
  padding: 0 0.15em;
  cursor: pointer;
  color: #e9ecef;
}
.hero-banner__icons i:hover {
  color: #c4ccd4;
}
.hero-banner__icons i:active {
  transform: translateY(3px);
}

/* Burger Menu */
@media screen and (max-width: 1000px) {
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
    padding-top: 1em;
    padding-right: 2em;
  }
  .burger span {
    padding: 0.2rem 1.2rem;
    background: #e9ecef;
    margin: 0.4rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }

  .hero-banner__navbar {
    margin: 0;
    background: #ffa94d;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }
  .hero-banner__navbar li {
    padding: 1.4em 0;
  }
  .hero-banner__navbar a {
    font-size: 2rem;
    text-decoration: underline;
  }

  .nav-open {
    transform: translateX(-100%);
  }

  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: #e9ecef;
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: #e9ecef;
  }
}
.hero-banner__navbar {
  display: flex;
  gap: 0 2em;
}
.hero-banner__navbar__link {
  list-style: none;
}
.hero-banner__navbar__link a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #f8f9fa;
}
.hero-banner__navbar__link a:hover {
  text-decoration: underline;
  color: #d5dbe1;
}
#career-banner {
  background-image: url(../assets/images/career-banner.jpg);
}

#blog-banner {
  background-image: url(../assets/images/blog-banner.jpg);
}

.footer {
  color: white;
  background: #212529;
}
.footer .footer-wrapper {
  display: flex;
  padding: 0 2rem 1rem 2rem;
  max-width: 80%;
  margin: auto;
  align-items: center;
  min-height: 5vh;
  flex-wrap: wrap;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .footer .footer-wrapper {
    max-width: 30em;
  }
}
@media only screen and (min-width: 1000px) {
  .footer .footer-wrapper {
    max-width: 35em;
  }
}
.footer__header {
  flex: 1 1 40rem;
}
.footer__nav {
  display: flex;
  list-style: none;
  flex: 1 1 30rem;
  justify-content: space-between;
  align-items: center;
}
.footer__nav i {
  color: #ced4da;
  font-size: 2rem;
}
.footer h5 {
  font-size: 1rem;
  color: #a6b3bf;
  margin: 1rem 0;
}

.homepage-main-content__skills {
  width: 100%;
  background: #868e96;
  padding: 2em;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.homepage-main-content__skills h3 {
  font-size: 3rem;
  color: #212529;
  min-width: 100%;
}
.homepage-main-content__skills .card {
  text-align: center;
  flex: 1 0 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 30vh;
  padding: 2em;
  margin: 1em;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 20px rgba(0, 0, 0, 0.2);
  background: #343a40;
  color: #e9ecef;
  border-radius: 5px;
}
.homepage-main-content__skills .card h4 {
  font-size: 1.6rem;
}
.homepage-main-content__skills .card p {
  font-size: 1.3rem;
  color: #f8f9fa;
  font-weight: 300;
}
.homepage-main-content__skills .card i {
  font-size: 2rem;
  margin: 0.5em 0;
  color: #868e96;
}
@media only screen and (min-width: 600px) {
  .homepage-main-content__skills .card {
    margin: 2rem 2rem;
  }
}
@media only screen and (min-width: 1000px) {
  .homepage-main-content__skills .card {
    margin: 1em 3eem;
  }
}
@media only screen and (min-width: 1270px) {
  .homepage-main-content__skills .card {
    flex: 1 0 500px;
  }
}
@media only screen and (min-width: 1800px) {
  .homepage-main-content__skills .card {
    flex: 1 0 600px;
  }
}

.btn {
  background-color: #32383e;
  color: #FFF;
  text-decoration: none;
  padding: 0.75rem 1.2rem;
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-size: 1.3rem;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
  transition: 0.1s ease;
  margin-top: 1em;
}
.btn--orange {
  background-color: #fd7e14;
}
.btn--large {
  padding: 1.1rem 1.9rem;
}
@media only screen and (min-width: 600px) {
  .btn--large {
    font-size: 1.5rem;
  }
}
.btn--light {
  background-color: #e9ecef;
  color: #212529;
}
.btn:hover {
  background-color: #3b424a;
}
.btn:active {
  transform: translateY(2px);
}

/*# sourceMappingURL=style.css.map */
